
*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: auto;
    font-family: verdana;
}


    /* ============= progress-bar debut =============*/

      
    
      
      @keyframes bis{
        0%{
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(170deg);
        }
      }
      
      .bis, .rind2.his{
        animation: bis ease-in-out 7s;
        transform: rotate(170deg);
        z-index: 100;
      }
      
      .rind2{
        clip: rect(0px, 173px, 173px, 90px);
      }
      
      .bis{
        clip: rect(0px, 90px, 173px, 0px);
        background-color: #ffea00;
        
      }
      
      .rind2, .bis{
        width: 173px;
        height: 173px;
        border-radius: 50%;
        position: absolute;
      }
      
      .into{
        width: 163px;
        height: 163px;
        border-radius: 50%;
        border: 2px solid #89888868;
        margin-top: 3px;
        margin-left: 3px;
        position: absolute;               
      }

      .into3{
        width: 157px;
        height: 157px;
        border-radius: 50%;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3px;
        margin-left: 3px;
        position: absolute;
        z-index: 110;
    
        
      }
      .vity .p22{
        display: flex;
        justify-content: center;
        font-family:sans-serif;
        font-size: 28px;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.779);
      }
      .vity .p23{
        padding-top: 10px;
        color: rgba(0, 0, 0, 0.599);
      }


    /*============= progress-bar fin =============== */

    /* ============= progress-bar2 debut =============*/

    @keyframes bisx{
        0%{
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(140deg);
        }
      }
      
      .bisx, .rind2x.his{
        animation: bisx ease-in-out 7s;
        transform: rotate(140deg);
        z-index: 100;
      }
      
      .rind2x{
        clip: rect(0px, 173px, 173px, 90px);
      }
      
      .bisx{
        clip: rect(0px, 90px, 173px, 0px);
        background-color: #ffea00;
        
      }
      
      .rind2x, .bisx{
        width: 173px;
        height: 173px;
        border-radius: 50%;
        position: absolute;
      }
      
      .intox{
        width: 163px;
        height: 163px;
        border-radius: 50%;
        border: 2px solid #89888868;
        margin-top: 3px;
        margin-left: 3px;
        position: absolute;               
      }

      .into3x{
        width: 157px;
        height: 157px;
        border-radius: 50%;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3px;
        margin-left: 3px;
        position: absolute;
        z-index: 110;

      }
      .vityx .p22{
        display: flex;
        justify-content: center;
        font-family:sans-serif;
        font-size: 28px;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.779);
      }
      .vityx .p23{
        padding-top: 10px;
        color: rgba(0, 0, 0, 0.599);
      }

    /*============= progress-bar fin =============== */

/* ============= progress-bar debut =============*/

      
    
      
@keyframes bis{
    0%{
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(170deg);
    }
  }
  
  .bis, .rind2.his{
    animation: bis ease-in-out 7s;
    transform: rotate(170deg);
    z-index: 100;
  }
  
  .rind2{
    clip: rect(0px, 173px, 173px, 90px);
  }
  
  .bis{
    clip: rect(0px, 90px, 173px, 0px);
    background-color: #ffea00;
    
  }
  
  .rind2, .bis{
    width: 173px;
    height: 173px;
    border-radius: 50%;
    position: absolute;
  }
  
  .into{
    width: 163px;
    height: 163px;
    border-radius: 50%;
    border: 2px solid #89888868;
    margin-top: 3px;
    margin-left: 3px;
    position: absolute;               
  }

  .into3{
    width: 157px;
    height: 157px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
    margin-left: 3px;
    position: absolute;
    z-index: 110;

    
  }
  .vity .p22{
    display: flex;
    justify-content: center;
    font-family:sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.779);
  }
  .vity .p23{
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.599);
  }


/*============= progress-bar fin =============== */

/* ============= progress-bar2 debut =============*/

@keyframes bisy{
    0%{
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(115deg);
    }
  }
  
  .bisy, .rind2y.his{
    animation: bisy ease-in-out 7s;
    transform: rotate(115deg);
    z-index: 100;
  }
  
  .rind2y{
    clip: rect(0px, 173px, 173px, 90px);
  }
  
  .bisy{
    clip: rect(0px, 90px, 173px, 0px);
    background-color: #ffea00;
    
  }
  
  .rind2y, .bisy{
    width: 173px;
    height: 173px;
    border-radius: 50%;
    position: absolute;
  }
  
  .intoy{
    width: 163px;
    height: 163px;
    border-radius: 50%;
    border: 2px solid #89888868;
    margin-top: 3px;
    margin-left: 3px;
    position: absolute;               
  }

  .into3y{
    width: 157px;
    height: 157px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
    margin-left: 3px;
    position: absolute;
    z-index: 110;

  }
  .vityy .p22{
    display: flex;
    justify-content: center;
    font-family:sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.779);
  }
  .vityy .p23{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.599);
  }

/*============= progress-bar fin =============== */

/*============= progress-bar debut =============== */

.vityz .p22{
    display: flex;
    justify-content: center;
    font-family:sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.779);
  }
  .vityz .p23{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.599);
  }
    
  
/*============= progress-bar fin =============== */    
        


.section{
    width: 100%;
    height: 530px;
    padding-top: 40px;
    background-image: url(./image/image2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.barro{
    width: 80%;
    height: auto;
    margin: auto;
    margin-bottom: 80px;
}
.barre{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 110px;
    margin: auto;
    border-radius: 8px;
    background-color: rgb(255, 174, 0);
}
.barre1{
    color: rgb(248, 248, 248);
    width: 28%;
    height: auto;
    display: flex;
}
.barre1 i{
    margin-right: 18px;
    margin-top: 10px;
    font-size: 20px;
}
.barre1 p{
    font-size: 15px;
}

.charge{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: end;
}
.tcharge{
    display: flex;
    width: 170px;
    height: 50px;
    border-radius: 8px;
    background-color: rgb(255, 174, 0);
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    position: relative;
    animation-name: bobo;
    animation-delay: 5s;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes bobo{
    0%{ background-color:rgb(255, 174, 0); top: 0px; right: 0px;}
    25%{ background-color:rgb(255, 0, 60); top: 0px; right: 100px;}
    50%{ background-color: rgb(7, 76, 238); top: 0px; right: 200px;}
    75%{ background-color:rgb(249, 6, 26); top: 0px; right: 100px;}
    100%{ background-color:rgb(255, 174, 0); top: 0px; right: 0px;}

}
.tcharge a{
    text-decoration: none;
    color: #fff;
}
.tcharge:hover{
    margin-top:30px;
    transition: 0.5s;
}
/*============media queries 1 ========*/

@media screen and (max-width:950px) {
    .barre1 p{
        font-size: 13px;
    }
}
/*============media queries 2 ========*/
@media screen and (max-width:750px) {
    .barre1 p{
        font-size: 16px;
    }
    .barre{
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;
        margin: auto;
        flex-direction: column;
    }
    .barre1{
        margin: 15px;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }
    .barre1 i{
        margin-right: 25px;
        margin-top: 10px;
        font-size: 18px;
    }
}


/*-------fin queries-----*/

.divo{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.centre{
    width: 55%;
    height: 450px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}
.retro{
    width: 50%;
    height: auto;
}
.topp{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    margin-top: -100px;
}
.topp img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.nom{
    width: 80%;
    height: auto;
    margin: auto;
    text-align: center;
    margin-top: 25px;
    line-height: 42px;
}
.nom .p1{
    font-family: arial;
    font-size: 33px;
    font-weight: bold;
    opacity: 0.7;
}
.nom .p2{
    font-family: arial;
    color:  rgb(255, 153, 0);
    font-size: 24px;
}
.adress{
    font-family: arial ;
    width: 90%;
    height: auto;
    margin: auto;
    text-align: center;
    margin-top: 25px;
    line-height: 33px;
    font-size: 18px;
    opacity: 0.7;
}

.icoo{
    width: 70%;
    height: 40px;
    margin: auto;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.icoo a{
    color: rgb(248, 247, 247);
    font-size: 19px;
    text-decoration: none;
}
.ory{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ory img{
    width: 100%;
}
.ory:hover{
    background-color: rgba(255, 153, 0, 0.752) ;
    margin-top: -15px;
    transition: 0.5s;
    border-radius: 50%;
}


/*============media queries 1 ========*/

@media screen and (max-width:1200px) {
    .retro{
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .centre{
        width: 100%;
        height: 450px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        margin-top: 45px;
    }
    .barro{
        width: 80%;
        height: auto;
        margin: auto;
        margin-bottom: 80px;
    }
}
/*-------fin queries-----*/

.soft{
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: space-between;
}
.ara{
    width: 260px;
    height: auto;
}
.aran{
    width: 65%;
    height: auto;
    margin-left: 45px;
}
.orange{
    margin-left: 100px;
    width: 65px;
    height: 10px;
    border-radius: 15px;
    background-color: rgb(255, 136, 0);
}
.bind{
    line-height: 30px;
    margin-left:100px ;
    margin-top:25px ;
    opacity: 0.8;
}
.bind .p4{
    font-size: 25px;
    font-weight: bold;
}
.bind .p5{
    font-weight: bold;
    opacity: 0.4;
}
.ulo{
    margin-top: 50px;
    list-style: none;
    display: flex;
}
.li1, .li2{
    margin: 10px;
    font-weight: bold;
    font-size: 14px;
}
.ulo .li1 a{
    color: rgb(255, 136, 0) ;
}
.li2 a:hover{
    color:  rgb(255, 136, 0);
    margin-left: 10px;
    transition: 0.6s;
}
.ulo a{
    color: rgba(0, 0, 0, 0.742);
    text-decoration: none;
}

/*============media q.2=*/
@media screen and (max-width:760px) {
    .aran{
        width: 100%;
        height: auto;
        margin-left: 45px;
    }
    .ulo{
        margin-top: 50px;
        list-style: none;
        display: flex;
    }
    .li1, .li2{
        margin: 10px;
        font-weight: bold;
        font-size: 12px;
    }
}

@media screen and (max-width:680px) {
    .aran{
        width: 100%;
        height: auto;
        margin-left: 15px;
    }
    .ulo{
        margin-top: 50px;
        list-style: none;
        display: flex;
    }
    .li1, .li2{
        margin: 10px;
        font-weight: bold;
        font-size: 11px;
    }
}
@media screen and (max-width:630px) {
    .aran{
        width: 100%;
        height: auto;
        margin-left: 15px;
    }
    .ulo{
        height: 100px;
        list-style: none;
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        margin-top: -1px;
    }
    .li1, .li2{
        margin: 5px;
        font-weight: bold;
        font-size: 11px;
        margin: auto;
    }
    .soft{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
    }
}

.paro{
    width: 100%;
    height: auto;
}
.paro1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 600px;
}
.cot3{
    width: 32%;
    height: auto;
}
.kafi{
    display: flex;
    width: 67%;
    height: auto;
    justify-content: space-between;
}
.cot1{
    width: 47%;
}
.paro1 .cot2{
    width: 51%;
    margin-right: 3px;
}

.cota{
    width: 100%;
    height: 297px;
}
.coto{
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
    width: 100%;
    height: 285px;
}
.coto1{
    width: 48%;
    height: auto;
}
.coti{
    width: 100%;
    height: 295px;
}
.coty{
    width: 100%;
    height: 285px;
    margin-top: 20px;
}
.paro1 img, .paro2 img{
    width: 100%;
    height: 100%;
}
.paro2{
    margin-top: 17px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 600px;
}
.paro2 .kafi{
    
    display: flex;
    width: 67%;
    height: auto;
    justify-content: space-between;
}
.paro2 .kafi .cot2{
    width: 47%;
}
.paro2 .cot1{
    width: 51%;
    margin-right: 3px;
}
.paro2 .cot2{
    width: 32%;
}


/*============media queries 1 ========*/

@media screen and (max-width:800px) {
    .paro1, .paro2{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .kafi{
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-between;
        margin-bottom: 17px;
    }
    .paro2 .kafi{
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-between;
        margin-bottom: 17px;
    }
    .cot3{
        width: 50%;
        height: 600px;
        margin: auto;
    }
    .paro2 .cot2{
        width: 50%;
        height: 600px;
        margin: auto;
    }
}

@media screen and (max-width:550px) {
    .paro1, .paro2{
        display: flex;
        justify-content: space-between;
        width: 80%;
        height: auto;
        flex-direction: column;
        margin: auto;
    }
    .kafi{
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-between;
        flex-direction: column;
        margin: auto;
    }
    .paro2 .kafi{
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-between;
        margin-bottom: 17px;
        flex-direction: column;
        margin: auto;
    }
    .cot3{
        width: 100%;
        height: auto;
        margin-top: 17px;
    }
    .cot1{
        width: 100%;
    }
    .paro1 .cot2{
        width:100%;
        margin-top: 17px;
    }
    .paro2 .kafi .cot2{
        width: 100%;
    }
    .paro2 .cot1{
        width: 100%;
        margin-top:17px ;
    }
    .paro2 .cot2{
        width: 100%;
        margin-top: 17px;
    }
}


.venan{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
}
.voty{
    width: 84%;
    height: 400px;
    display: flex;
    justify-content: space-between;
}
.mily{
    width: 250px;
    height: auto;
}
.milo{
    width: 63%;
    height: auto;
}

.oran{
    width: 65px;
    height: 10px;
    border-radius: 15px;
    background-color: rgb(255, 136, 0);
}
.blou{
    line-height: 30px;
    margin-top:25px ;
    opacity: 0.8;
}
.blou .p4{
    font-size: 25px;
    font-weight: bold;
}
.blou .p5{
    font-weight: bold;
    opacity: 0.4;
}
.rool{
    width: 100%;
    height: auto;
    font-family: system-ui;
}
.rool p{
    font-weight: 600;
    line-height: 28px;
    font-size: 18px;
    opacity: 0.7;
}
.rondel{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.rond1{
    width: 160px;
    height:160px ;
    margin-top: 40px; 
}
.rond1 img{
    width: 100%;
    height: 100%;
}
.divis1, .divis2{
    width: 48%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.divis1{
    margin-left: 5px;
}
/*============media queries 1 ========*/

@media screen and (max-width:1200px){
    .rondel{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .divis1, .divis2{
        width: 80%;
        height: auto;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
    .venan{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        margin-top: 80px;
    }
    .voty{
        width: 85%;
        height: auto;
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (max-width:760px){
    .rondel{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .divis1, .divis2{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
    .venan{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }
    .voty{
        width: 95%;
        height: auto;
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (max-width:620px){
    .rondel{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 20px;
    }
    .divis1, .divis2{
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: auto;
    }
    .rond1{
        margin: auto;
        margin-top: 20px;
    }
    .venan{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }
    .voty{
        width: 95%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .milo{
        margin: auto;
    }
    .blou{
        line-height: 30px;
        margin-top:0px ;
        opacity: 0.8;
        margin-bottom:60px ;
    }
    .mily{
        margin-left: 30px;
    }

    .milo{
        width: 90%;
    }
}
/*====fin de queries =====*/

.venan2{
    font-family: system-ui;
    color: #fff;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #28023D;
}
.wave-bleu{
    width: 100%;
    height: auto;
}
.wave-bleu img{
    width: 100%;
}
.voty2{
    width: 84%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 20px;
}
.mily2{
    width: 250px;
    height: auto;
}
.milo2{
    width: 65%;
    height: auto;
}

.oran2{
    width: 65px;
    height: 10px;
    border-radius: 15px;
    background-color: rgb(255, 136, 0);
}
.blou2{
    line-height: 33px;
    margin-top:20px ;
    opacity: 0.8;
}
.blou2 .p4{
    font-size: 27px;
    font-weight: bold;
    line-height: 36px;
}
.blou2 .p5{
    font-weight: bold;
    opacity: 0.4;
}
.rool{
    width: 100%;
    height: auto;
}
.bomm2, .bomm3{
    font-weight: 600;
    line-height: 28px;
    font-size: 18px;
    margin-top: 45px;
}
.bomm3{
    margin-bottom: 58px;
    margin-left: 18px;
}
.bomm3 li{
    list-style-type: circle;
}
.piss2{
    margin-top: 10px;
}
.piss1 p{
    color:rgb(255, 136, 0) ;
    font-weight: bold;
}
.piss2 p{
    font-weight: bold;
}

/*======media queries=====================*/

@media screen and (max-width:1200px){
    .venan2{
        margin-top: 60px;
    }
    .voty2{
        width: 85%;
        height: auto;
        margin-top: 60px;
    }
}
@media screen and (max-width:860px){
    .venan2{
        width: 100%;
        height: auto;
    }
    .voty2{
        width: 95%;
        height: auto;
    }
}
@media screen and (max-width:620px){
    .voty2{
        width: 95%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .mily2{
        margin-left: 30px;
    }
    .milo2{
        width: 90%;
        margin: auto;
    }
    .piss1{
        margin-top: 60px;
    }
}
/*====fin de queries =====*/

.venan3{
    font-family: system-ui;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}
.voty3{
    width: 84%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 20px;
}
.mily3{
    width: 250px;
    height: auto;
}
.milo3{
    width: 75%;
    height: auto;
    display: flex;
}

.oran3{
    width: 65px;
    height: 10px;
    border-radius: 15px;
    background-color: rgb(255, 136, 0);
}
.blou3{
    line-height: 33px;
    margin-top:20px ;
    opacity: 0.8;
}
.blou3 .p4{
    font-size: 27px;
    font-weight: bold;
    line-height: 36px;
}
.blou3 .p5{
    font-weight: bold;
    opacity: 0.4;
}
.rool{
    width: 100%;
    height: auto;
}
.bomm2{
    font-weight: 600;
    line-height: 28px;
    font-size: 18px;
    margin-top: 45px;
    opacity: 0.6;
}
.bomm1{
    margin-top: 50px;
}
.piss3{
    margin-top: 10px;
}
.piss1 p{
    color:rgb(255, 136, 0) ;
    font-weight: 600;
}
.piss1 h2{
    opacity: 0.8;
}
.piss2 p, .piss3 p{
    opacity: 0.6;
}

.tony{
    width: 2px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.233);
    margin-top: 20px;
}
.boul1{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(255, 145, 0, 0.423);
    margin-left: -16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}
.boul2, .boul3{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(255, 145, 0, 0.423);
    margin-left: -16px;
    margin-top: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.floux{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: orange;
}
.rock{
    width: 180px;
    height: auto;
    display: flex;
    justify-content: center;
    margin-right: 40px;
}
/*======media queries=====================*/
@media screen and (max-width:1250px){
    .boul2, .boul3{
        margin-top: 290px;
    }
}
@media screen and (max-width:1020px){
    .boul2, .boul3{
        margin-top: 320px;
    }
}
@media screen and (max-width:920px){
    .boul2, .boul3{
        margin-top: 350px;
    }
}

@media screen and (max-width:1200px){
    .voty3{
        width: 85%;
        height: auto;
        margin-top: 60px;
    }
}
@media screen and (max-width:860px){
    .tony{
        display: none;
    }
    .venan3{
        width: 100%;
        height: auto;
    }
    .voty3{
        width: 95%;
        height: auto;
    }
}
@media screen and (max-width:620px){
    .voty3{
        width: 95%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .mily3{
        margin-left: 30px;
    }
    .milo3{
        width: 90%;
        margin: auto;
    }
    .piss3{
        margin-top: 60px;
    }
    .bio{
        margin-left: -60px;
    }
}
/*====fin de queries =====*/

footer{
    width: 100%;
    height: auto;
    margin-top: 80px;
    background-image: url(./image/image13.jpg);
    background-repeat:x no-repeat;
    background-size: 100%;
}

.numeros{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.left1, .left2{
    width: 48%;
    height: auto;
    display: flex;
    gap: 20px;
    margin-top: 80px;
    justify-content: space-between;
}
.finition{
    width: 100%;
    height: 100px;
    background-color: #28023D;
    margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #454;
    text-align: center;
}
.num1{
    width: 48%;
    height: auto;
    display: flex;
    gap: 30px;
    align-items: center;
    color: #fff;
    font-family: system-ui;
}
.chiffre p{
    font-weight: bolder ;
    font-size: 70px;
}
.chiffre1 p{
    margin-left: 30px;
    font-weight: bolder ;
    font-size: 70px;
}
.lettre p{
    margin-top: 18px;
    font-weight: bold;
    line-height: 25px;
    font-size: 18px;
}
footer img{
    width: 100%;
}

/*======media queries=====================*/
@media screen and (max-width:1215px){
    .left1, .left2{
        width: 48%;
        height: 150px;
        display: flex;
        gap: 20px;
        margin-top: 80px;
        flex-direction: column;
    }
    .num1{
        width: 80%;
        height: auto;
        display: flex;
        gap: 30px;
        align-items: center;
        font-family: system-ui;
        margin: auto;
    } 
    .finition{
        margin-top: 150px;
    }
}
@media screen and (max-width:680px){
    .numeros{
        width: 80%;
        height: auto;
        margin: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 20px;
    }
    .left1, .left2{
        width: 48%;
        height: auto;
        display: flex;
        gap: 20px;
        flex-direction: column;
        margin: auto;
        gap: 20px;
    }
    .num1{
        width: 80%;
        height: auto;
        display: flex;
        gap: 30px;
        align-items: center;
        font-family: system-ui;
        margin: auto;
    } 
    .finition{
        margin-top: 50px;
    }
}